<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'peni/style.css' %}" />
    <title>{% block title %}Web Test Site{% endblock %}</title>
</head>
<body>
    <div id="search">
        <input id="text" class="text" type="text" name="q">
        <input class="btn btn-info" type="submit" value="查找漏洞"
               onclick="window.location = './find/?q=' + document.getElementById('text').value">
    </div>
    <div id="list">
        <ul>
            {% if content %}
                {% for key, value in content.items %}
                    <li><a href="http://10.1.10.117:8000/peni/bug/getdetail/?q={{ value }}">{{ key }}</a></li>
                {% endfor %}
            {% endif %} 
        </ul>
    </div>
</body>
</html>