<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'peni/style.css' %}" />
    <title>{% block title %}Basic Scan{% endblock %}</title>
</head>
<body>
    <h1>{{ target.ip }}Web应用扫描结果</h1>
    <div id="list">
        <ul>
        {% for info in target.webinfo_set.all %}
            <li>{{ info.info }}</li>
        {% endfor %}
        </ul>
    </div>

    <h1>{{ target.ip }}服务器端口扫描结果</h1>
    <div id="list">
        <ul>
        {% for port in target.port_set.all %}
            <li>{{ port.number }}: {{ port.details }}</li>
        {% endfor %}
        </ul>
    </div>

</body>

