<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'peni/style.css' %}" />
    <title>{% block title %}密码爆破{% endblock %}</title>
</head>
<body>
    <h1>Wordpress 账号破解</h1>
    <div id="search">
        URL :
        <br/>
        <input class="text" type="text" name="q" id="url">
        <br/>
        Username :
        <br/>
        <input class="text" type="text" name="q" id="username">
        <br/>
        <input class="btn btn-info" type="submit" value="密码爆破"
               onclick="window.location = './crack/?q=' +
               document.getElementById('url').value + '&p=' + document.getElementById('username').value">
        {% if pwd %}
                {% if pwd != 'Not Found' %}
                    <h1>Password is {{ pwd }}</h1>
                {% endif %}
        {% endif %}
    </div>

    <h1>MD5 密码破解</h1>
        <div id="search">
            MD5码 :
            <br/>
            <input class="text" type="text" name="q" id="md5">
            <br/>
            <input class="btn btn-info" type="submit" value="MD5破解"
                   onclick="window.location = './md5/?q=' +
                   document.getElementById('md5').value">
        </div>
        <div id="list">
            <ul>
            {% if md5 %}
                {% for key, value in md5.items %}
                    <li><a href="{{ key }}">{{ key }}</a>:{{ value }}</li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
</body>
</html>