<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}SQL Injection Site{% endblock %}</title>
	<script type="text/javascript">
		function getdb()
		{
			var xmlhttp;
			if (window.XMLHttpRequest)
  			{// code for IE7+, Firefox, Chrome, Opera, Safari
  				xmlhttp=new XMLHttpRequest();
  			}
  			else
  			{// code for IE6, IE5
  				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  			}
  			xmlhttp.onreadystatechange=function()
  			{
  				if (xmlhttp.readyState==4 && xmlhttp.status==200)
  				{
  					document.getElementById("db").innerHTML+=xmlhttp.responseText;
  				}
  			}
  			var target = document.getElementById("text").value;
  			var url = './getdb/?q=' + target;
  			xmlhttp.open("GET",url,true);
  			xmlhttp.send();
		}
		function gettable()
		{
			var xmlhttp;
			if (window.XMLHttpRequest)
  			{// code for IE7+, Firefox, Chrome, Opera, Safari
  				xmlhttp=new XMLHttpRequest();
  			}
  			else
  			{// code for IE6, IE5
  				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  			}
  			xmlhttp.onreadystatechange=function()
  			{
  				if (xmlhttp.readyState==4 && xmlhttp.status==200)
  				{
  					document.getElementById("db").innerHTML+=xmlhttp.responseText;
  				}
  			}
  			var target = document.getElementById("text").value;
  			var url = './getdb/?q=' + target;
  			xmlhttp.open("GET",url,true);
  			xmlhttp.send();
		}
</script>
</head>

<body>
    <div id="search">
        <input id="text" class="text" type="text" name="q" value={{ url }}>
        <br>
    </div>
    <div class="listdb" id="db">
        <!--<input id="listdb_btn" class="listbtn" type="submit" value="列库"
               onclick="window.location = './getdb/?q=' + document.getElementById('text').value">-->
        <input id="listdb_btn" class="listbtn" type="submit" value="列库"
               onclick="getdb()">
        <br/>

    </div>
    <input id="text" class="text" type="text" name="q">
        <br>
    <div class="listable">
        <input id="listable_btn" class="listbtn" type="submit" value="列表"
               onclick="window.location = './getdb/?q=' + document.getElementById('text').value">
        <br/>

    </div>
</body>
</html>