<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'peni/style.css' %}" />
	<title>{% block title %}SQL Injection Site{% endblock %}</title>
	<script type="text/javascript">
		function getdb()
		{
			var xmlhttp;
			if (window.XMLHttpRequest)
  			{// code for IE7+, Firefox, Chrome, Opera, Safari
  				xmlhttp=new XMLHttpRequest();
  			}
  			else
  			{// code for IE6, IE5
  				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  			}
  			xmlhttp.onreadystatechange=function()
  			{
  				if (xmlhttp.readyState==4 && xmlhttp.status==200)
  				{
  					document.getElementById("db").innerHTML=xmlhttp.responseText;
  				}
  			}
  			var target = document.getElementById("text").value;
  			var url = './getdb/?q=' + target;
  			xmlhttp.open("GET",url,true);
  			xmlhttp.send();
		}
		function gettable()
		{
			var xmlhttp;
			if (window.XMLHttpRequest)
  			{// code for IE7+, Firefox, Chrome, Opera, Safari
  				xmlhttp=new XMLHttpRequest();
  			}
  			else
  			{// code for IE6, IE5
  				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  			}
  			xmlhttp.onreadystatechange=function()
  			{
  				if (xmlhttp.readyState==4 && xmlhttp.status==200)
  				{
  					document.getElementById("table").innerHTML=xmlhttp.responseText;
  				}
  			}
  			var target = document.getElementById("text").value;
            var target2 = document.getElementById("text2").value;
  			var url = './getable/?q=' + target + '&db=' + target2;
  			xmlhttp.open("GET",url,true);
  			xmlhttp.send();
		}
        function getfiles()
		{
			var xmlhttp;
			if (window.XMLHttpRequest)
  			{// code for IE7+, Firefox, Chrome, Opera, Safari
  				xmlhttp=new XMLHttpRequest();
  			}
  			else
  			{// code for IE6, IE5
  				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  			}
  			xmlhttp.onreadystatechange=function()
  			{
  				if (xmlhttp.readyState==4 && xmlhttp.status==200)
  				{
  					document.getElementById("files").innerHTML=xmlhttp.responseText;
  				}
  			}
  			var target = document.getElementById("text").value;
            var target2 = document.getElementById("text2").value;
            var target3 = document.getElementById("text3").value;
  			var url = './getfiles/?q=' + target + '&db=' + target2 + '&table=' + target3;
  			xmlhttp.open("GET",url,true);
  			xmlhttp.send();
		}
</script>
</head>

<body>
    <h1>SQL Injection</h1>
    <div id="content">
        <div name="db" class="block">
            <input class="text2" type="text" name="q" id="text" value={{ url }}>
            <input id="listdb_btn" class="btn btn-info" type="submit" value="List db"
                       onclick="getdb()">
            <div id="db"></div>
        </div>

        <div class="block">
            <input class="text2" type="text" name="q2" id="text2">
            <input id="listable_btn" class="btn btn-info" type="submit" value="List Table"
                   onclick="gettable()">
            <div id="table"></div>
        </div>

        <div class="block">
            <input class="text2" type="text" name="q3" id="text3">
            <input id="listfiles_btn" class="btn btn-info" type="submit" value="Dump"
                   onclick="getfiles()">
            <div id="files"></div>
        </div>
    </div>
</body>
</html>