<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'peni/style.css' %}" />
	<title>{% block title %}SQL Injection Site{% endblock %}</title>
	<script type="text/javascript">
		function getdb()
		{
			var xmlhttp;
			if (window.XMLHttpRequest)
  			{// code for IE7+, Firefox, Chrome, Opera, Safari
  				xmlhttp=new XMLHttpRequest();
  			}
  			else
  			{// code for IE6, IE5
  				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  			}
  			xmlhttp.onreadystatechange=function()
  			{
  				if (xmlhttp.readyState==4 && xmlhttp.status==200)
  				{
  					document.getElementById("db").innerHTML+=xmlhttp.responseText;
  				}
  			}
  			var target = document.getElementById("text").value;
  			var url = './getdb/?q=' + target;
  			xmlhttp.open("GET",url,true);
  			xmlhttp.send();
		}
		function gettable()
		{
			var xmlhttp;
			if (window.XMLHttpRequest)
  			{// code for IE7+, Firefox, Chrome, Opera, Safari
  				xmlhttp=new XMLHttpRequest();
  			}
  			else
  			{// code for IE6, IE5
  				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  			}
  			xmlhttp.onreadystatechange=function()
  			{
  				if (xmlhttp.readyState==4 && xmlhttp.status==200)
  				{
  					document.getElementById("table").innerHTML+=xmlhttp.responseText;
  				}
  			}
  			var target = document.getElementById("text").value;
            var target2 = document.getElementById("text2").value;
  			var url = './getable/?q=' + target + '&db=' + target2;
  			xmlhttp.open("GET",url,true);
  			xmlhttp.send();
		}
        function getfiles()
		{
			var xmlhttp;
			if (window.XMLHttpRequest)
  			{// code for IE7+, Firefox, Chrome, Opera, Safari
  				xmlhttp=new XMLHttpRequest();
  			}
  			else
  			{// code for IE6, IE5
  				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  			}
  			xmlhttp.onreadystatechange=function()
  			{
  				if (xmlhttp.readyState==4 && xmlhttp.status==200)
  				{
  					document.getElementById("files").innerHTML+=xmlhttp.responseText;
  				}
  			}
  			var target = document.getElementById("text").value;
            var target2 = document.getElementById("text2").value;
            var target3 = document.getElementById("text3").value;
  			var url = './getfiles/?q=' + target + '&db=' + target2 + '&table=' + target3;
  			xmlhttp.open("GET",url,true);
  			xmlhttp.send();
		}
</script>
</head>

<body>
    <div id="search">
        <input class="text" type="text" name="q" value={{ url }}>
        <br>
    </div>
    <div id="list">
        <!--<input id="listdb_btn" class="listbtn" type="submit" value="列库"
               onclick="window.location = './getdb/?q=' + document.getElementById('text').value">-->
        <input id="listdb_btn" class="listbtn" type="submit" value="列库"
               onclick="getdb()">
        <br/>

    </div>
    <input class="text" type="text" name="q2">
        <br>
    <div id="list">
        <input id="listable_btn" class="listbtn" type="submit" value="列表"
               onclick="gettable()">
        <br/>
    </div>
    <input class="text" type="text" name="q3">
            <br>
    <div id="list">
        <input id="listfiles_btn" class="listbtn" type="submit" value="Dump"
               onclick="getfiles()">
        <br/>
    </div>
</body>
</html>